{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }],
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
