{
  "presets": [
    ["env", {
      "targets": {
        "browsers": {
          "Chrome": 33,
          "Firefox": 44
        }
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
